<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Routing Demo</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/skeleton.css">
</head>
<body>
    <a href="/wifi"><div class="button" id="button-wifi">Switch to WiFi</div></a>
    <br>
    <div class="button button-primary" id="button-save">Save</div>
    <div class="button" id="button-random">Random</div>
    <div class="button" id="button-grid">Grid</div>
    <div class="button" id="button-complete">Complete</div>
    From: <input id="from" type="number" min="1" max="16" value="1"/>
    To: <input id="to" type="number" min="1" max="16" value="16"/>
    <br>


    <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
    <script src="static/viz.js"></script>
    <script src="static/routing.js"></script>
</body>
</html>